footer{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.socialMedia p{
 color: #fff;
 
}

.footerInfo ul li{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: xx-large;
   
}
